<!DOCTYPE html>
<html>
<head>
    <title>Delete Contact</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body class="container">
    <h1>Delete Contact</h1>
    <p>Are you sure you want to delete "{{ contact.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete it">
    </form>
    <a href="{% url 'myapp1:contact_list' %}" class="submit-button">Cancel</a>
</body>
</html>